* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-scrollTop {
  position: fixed;
  bottom: 25px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgb(96 165 250);
  right: 1%;
  background: none;
  border-radius: 50px;
  padding: 0px;
  border: none;
  opacity: 0.7;
}

.divide-x-2 {
  border-right: 2px solid #ff0000;
  /* Replace #FF0000 with your desired color */
}
